
:root {
    --theme-color:green;
}

h1{
    color:orange;
}

.text-theme{
    color: var(--theme-color);
}

.bg-theme{
    background-color: var(--theme-color);
}

.nav-hover{
  transition: 0.4s;
}
.nav-hover:hover{
    border-bottom: 2px solid var(--theme-color);
}
#navbar{
    transition: 0.8s;
    background-color: #d3d3d3;

}
.border-bottom-main{
    border-bottom: 4px solid var(--theme-color);
}
.undertitle{
    font-size: 31px;
    justify-content: center;
}